@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('fonts/Montserrat-SemiBold.otf'); 
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('fonts/Montserrat-SemiBoldItalic.otf');
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.otf'); 
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Italic.otf');
    font-style: italic;
}

body
{
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1
{
    text-align: center;
    color: red;
    font-family: 'Montserrat-Regular';
}

h2
{
    text-align: center;
    color: rgb(195, 195, 195);
    font-family: 'Montserrat-Regular';
    font-size: 24px
}

p
{
    text-align: center;
    color: white;
    font-family: 'Montserrat-Regular';
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#myNav
{
    background-color: rgb(70, 70, 70);
    overflow: hidden;
    padding: 14px;
    display: block;
    margin-bottom: 25px;
}

#active
{
    font-family: 'Montserrat-SemiBold';
    float: right;
    font-size: 200%;
    color: red;
    text-decoration: none;
}

#navGal
{
    font-family: 'Montserrat-Regular';
    float: right;
    font-size: 200%;
    color: rgb(255, 0, 255);
    text-decoration: none;
}

#navPage
{
    font-family: 'Montserrat-Regular';
    float: right;
    font-size: 200%;
    color: rgb(255, 255, 0);
    text-decoration: none;
}

#image
{
    margin: auto;
    text-align: center;
    vertical-align: middle;
}